
.DialogPanel {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
}
.DialogMask {
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.5;
}


.Dialog {
	position: absolute;
	//width: 900px;
	border-radius: 10px;
	overflow:hidden;
	box-shadow: 4px 4px 8px;
	font-size: 14px;
}

.Dialog > div{
	background: white;
	border-radius:  0px 0px 8px 8px;
	height: 200px;
	width: 400px;
	overflow-y: hidden;
	padding: 8px;
}

.Dialog > h3 {
	display: inline-block;
	//border: 1px solid gray;
	//border-bottom: 0;

	//width: 170px;
	width: 100%;
	height: 24px;
	line-height: 24px;
	background: -webkit-gradient(linear, center top, center bottom, from(#ccf), to(#aaf));
	background: -moz-linear-gradient(top, #eef, #ccf);

	margin: 0;
	border-radius: 8px 8px 0px 0px;
	//background: #f8f8ff;
	text-align: center;
	vertical-align: middle;
	font: 16px bold fixed;
	//padding-top: 4px;
}
.Dialog > h3 > nobr {
	vertical-align: middle;
	line-height: 24px;
}
.Dialog  h4  {
	margin: 0px;
}

.DialogButtons {
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: right;
	padding: 0px;
	padding-right: 16px;
}
.DialogButtons > span {
	background: #e0e0e0;
	padding: 2px 8px;
	margin: 0px 2px;
}
.DialogButtons > span:hover {
	background: #c0c0c0;
}

.CloseImg {
	float: right;
	width: 16px;
	height: 16px;
	padding: 4px;
	margin: 4px;
	cursor: pointer;
}

#loginDialog > div {
	//border: 1px solid gray;
	height: 120px;
	width: 250px;
}


#settingsDialog > div {
	//border: 1px solid gray;
	height: 400px;
	width: 700px;
	overflow: none;
}


#redmineCustomImg {
	display: inline-block;
	font-size:10px;
	width: 24px;
	line-height: 100%;
}
img#redmineCustomImg {
	width: 20px;
	height: 20px;
	padding: 2px;
	margin: 1px;
	//border: 1px solid lightgray;
	cursor: pointer;
	vertical-align: middle;
}



#progressSettingTable > tbody > tr > td:nth-child(2) > input {
	text-align: right;
}





